* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Chalkduster;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button:focus {
  outline: 1px dashed wheat;
}

.header {
  display: flex;
  justify-content: center;
}

.header-img {
  height: 185px;
  width: auto;
}

.select-label {
  font-size: 1.5rem;
}

.breed-selector {
  font-size: 1.2rem;
  padding: 2px 5px;
  margin: 1rem 2rem;
}

.btn-text {
  font-size: 1.5rem;
}

.add-dog-btn {
  font-size: 2.5rem;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.doggos {
  display: flex;
  flex-direction: column;
}

.carouselbox {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 10px #ccc;
  overflow: hidden;
}

#loading-icon {
  display: none;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 500px;
  width: 100%;
}

.image-box {
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  height: 500px;
  width: 100%;
  background-color: rgb(29, 97, 49);
}
.image {
  padding: 1em;
  flex-shrink: 0;
  width: auto;
  height: 480px;
}

.hidden {
  display: none;
}

@media (min-width: 850px) {
  .header {
    padding: 4rem;
  }

  .app-title {
    font-size: 6rem;
  }

  .main-container {
    display: flex;
    justify-content: space-evenly;
    padding: 6rem;
  }

  .user-UI {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .select-section {
    display: flex;
    flex-direction: column;
  }

  .select-label {
    font-size: 2.5rem;
  }

  .breed-selector {
    width: 14rem;
    height: 3rem;
    font-size: 1.5rem;
    padding: 2px 5px;
    margin: 1rem 4rem;
  }

  .btn-text {
    font-size: 2.5rem;
  }
  .add-dog-btn {
    margin: 4rem;
    padding: 1rem;
    font-size: 3.5rem;
  }

  .doggos {
    flex-direction: row-reverse;
    margin-top: 10px;
    /* allow for scrolling */
    overflow-x: auto;
  }

  .carouselbox {
    width: 45rem;
    height: 31rem;
  }

  #loading-icon > img {
    flex-shrink: 0;
    width: auto;
    height: 25%;
  }
}
